<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>HSJaiswal : Certificate</title>
</head>
<style>
  h2 {
    color: white;
  }

  body {
    background-color: rgb(27, 27, 27);
  }

  .container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: white;
  }

  li {
    list-style: none;
    display: inline-flex;
  }

  .center {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin: 15px;
    width: 18rem;
  }
  .Heading:hover {
    color: orange;
  }
   footer{
     background-color: rgb(26, 26, 26);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
 }
</style>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <h2 class="Heading">
          My Certificates
        </h2>
      </a>
      <a href="/">
        <h3 class="center">Go Back</h3>
      </a>

    </div>
  </nav>
  <div class="container my-3">
    <div class="card">
      <iframe src="HarshShahJaiswal.pdf" class="card-img-top" alt=""></iframe>
      <div class="card-body">
        <h5 class="card-title">Hackathon</h5>
        <p class="card-text"><strong>Unscript Rookie : </strong>Our team have been successfully qualified the interview
          round and participated in this Hackathon as a web development team.</p>
        <a href="HarshShahJaiswal.pdf" class="btn btn-primary">Explore PDF</a>
      </div>
    </div>
  </div>
  <footer>
        <p>Created with ❤️ by Harsh Jaiswal</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"></script>
</body>

</html>