<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <style>

   </style>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="/contact" method="post">
        <div class="user-details">
          <div class="input-box">
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" name="Email">
          </div>
        <a href="login">Already have account. Login.</a>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>