<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message from HSjaiswal</title>
</head>
<body>
    <h2>Hello {{name}}!!!</h2>
    <h4>Thank you for contacting Mr. Harsh Jaiswal. Your response have been submitted and soon you will get reply to your response in your mail id.</h4>
</body>
</html>