<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="join.css">

<body>

    <div class="row">
        <div class="center">
            <div class="card">
                <div class="login-box">
                    <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label
                            for="tab-1" class="tab">Forgot Password</label> <input id="tab-2" type="radio" name="tab"
                            class="sign-up"><label for="tab-2" class="tab"></label>
                        <div class="login-space">
                            <div class="login">
                                <form action="/forgot" method="post">
                                    <br>
                                    <div class="group"> <label for="user" class="label">Email</label> <input
                                            id="user" type="text" class="input" placeholder="Enter your email"
                                            name="myEmail">
                                    </div>
                                    <div class="group"> <input type="submit" class="button" value="Get Password"> </div>
                                    <div class="hr"></div>
                                    <div class="foot"> <a href="forgot">You will be provided a link to your registered mail id.</a> </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>