<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message from HSjaiswal</title>
</head>
<body>
    <h2>Click on this link to reset your password</h2>
    <p>https://hsjaiswal.herokuapp.com/setPassword</p>
</body>
</html>